Connected Services/DalService/dal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://ws.uned.es/dal/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://ws.uned.es/dal/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://ws.uned.es/dal/">
      <s:element name="RunSP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadenaConexion" type="tns:ConnectionString" />
            <s:element minOccurs="0" maxOccurs="1" name="strSP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="tns:ArrayOfTipoParametroOracle" />
            <s:element minOccurs="1" maxOccurs="1" name="Err" type="tns:TipoError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ConnectionString">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Servicio" type="tns:ServicioEnum" />
          <s:element minOccurs="0" maxOccurs="1" name="Login" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="tns:ArrayOfString" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ServicioEnum">
        <s:restriction base="s:string">
          <s:enumeration value="orc5" />
          <s:enumeration value="orc6" />
          <s:enumeration value="orc7" />
          <s:enumeration value="orc8" />
          <s:enumeration value="doc1" />
          <s:enumeration value="for1" />
          <s:enumeration value="orc5desa" />
          <s:enumeration value="hom" />
          <s:enumeration value="orc8desa" />
          <s:enumeration value="orc6desa" />
          <s:enumeration value="orc5pre" />
          <s:enumeration value="orc5pru" />
          <s:enumeration value="log" />
          <s:enumeration value="ocudb" />
          <s:enumeration value="orc4" />
          <s:enumeration value="orc4desa" />
          <s:enumeration value="orc4pre" />
          <s:enumeration value="sgchco" />
          <s:enumeration value="orc5sop" />
          <s:enumeration value="orc7desa" />
          <s:enumeration value="orc7pre" />
          <s:enumeration value="orc5int" />
          <s:enumeration value="orc5mant" />
          <s:enumeration value="orc5min" />
          <s:enumeration value="orc8pre" />
          <s:enumeration value="orc6pre" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTipoParametroOracle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TipoParametroOracle" type="tns:TipoParametroOracle" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TipoParametroOracle">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Nombre" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Tipo" type="tns:TipoOracle" />
          <s:element minOccurs="1" maxOccurs="1" name="Direccion" type="tns:ParameterDirection" />
          <s:element minOccurs="1" maxOccurs="1" name="Size" type="s:long" />
          <s:element minOccurs="0" maxOccurs="1" name="Valor" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="TipoOracle">
        <s:restriction base="s:string">
          <s:enumeration value="OracleChar" />
          <s:enumeration value="OracleVarchar2" />
          <s:enumeration value="OracleNumber" />
          <s:enumeration value="OracleFechaHora" />
          <s:enumeration value="OracleCursor" />
          <s:enumeration value="OracleBlob" />
        </s:restriction>
      </s:simpleType>
      <s:simpleType name="ParameterDirection">
        <s:restriction base="s:string">
          <s:enumeration value="Input" />
          <s:enumeration value="Output" />
          <s:enumeration value="InputOutput" />
          <s:enumeration value="ReturnValue" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="TipoError">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Mensaje" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Fuente" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="RunSPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunSPResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="tns:ArrayOfTipoParametroOracle" />
            <s:element minOccurs="1" maxOccurs="1" name="Err" type="tns:TipoError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSPex">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CadenaConexion" type="tns:ConnectionString" />
            <s:element minOccurs="0" maxOccurs="1" name="strSP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="tns:ArrayOfTipoParametroOracle" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RunSPexResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RunSPexResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="tns:ArrayOfTipoParametroOracle" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RunSPSoapIn">
    <wsdl:part name="parameters" element="tns:RunSP" />
  </wsdl:message>
  <wsdl:message name="RunSPSoapOut">
    <wsdl:part name="parameters" element="tns:RunSPResponse" />
  </wsdl:message>
  <wsdl:message name="RunSPexSoapIn">
    <wsdl:part name="parameters" element="tns:RunSPex" />
  </wsdl:message>
  <wsdl:message name="RunSPexSoapOut">
    <wsdl:part name="parameters" element="tns:RunSPexResponse" />
  </wsdl:message>
  <wsdl:portType name="DALSoap">
    <wsdl:operation name="RunSP">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Funcion Polivalente de Acceso a Datos</wsdl:documentation>
      <wsdl:input message="tns:RunSPSoapIn" />
      <wsdl:output message="tns:RunSPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RunSPex">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Funcion Polivalente de Acceso a Datos Sin Control de Errores</wsdl:documentation>
      <wsdl:input message="tns:RunSPexSoapIn" />
      <wsdl:output message="tns:RunSPexSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DALSoap" type="tns:DALSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunSP">
      <soap:operation soapAction="http://ws.uned.es/dal/RunSP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSPex">
      <soap:operation soapAction="http://ws.uned.es/dal/RunSPex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DALSoap12" type="tns:DALSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RunSP">
      <soap12:operation soapAction="http://ws.uned.es/dal/RunSP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RunSPex">
      <soap12:operation soapAction="http://ws.uned.es/dal/RunSPex" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DAL">
    <wsdl:port name="DALSoap" binding="tns:DALSoap">
      <soap:address location="https://wsdesa.uned.es/dal/dal.asmx" />
    </wsdl:port>
    <wsdl:port name="DALSoap12" binding="tns:DALSoap12">
      <soap12:address location="https://wsdesa.uned.es/dal/dal.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>